// FONT
$poppins: 'Poppins', sans-serif;

// FONTS COLORS
$color-primary: #56CCCE;
$logo-color: #fff;
$title-color: #20284F; 
$paragraph-color: #8D8D8D;
$placeholder-color: #CACACA;
$error-color: #F20746;
$canvas: rgba(229, 229, 229, 0.5);

// BREAKPOINTS
$breakpoint-medium: 768px; //tablets
$breakpoint-large: 992px; //tablets landscape 
$breakpoint-xlarge: 1200px; //desktop



