.carrousel {
    position: relative;
    display: block;
    width: 85%;
    height: 30rem;
    border-radius: 5rem;
    overflow: hidden; 

    @media (min-width: $breakpoint-medium) {
        height: 40rem;
    }

    @media (min-width: $breakpoint-large) {
        height: 50rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        height: 40rem;
        width: 45%;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 7rem;
        width: 100%;
        z-index: 10;
        background-image: linear-gradient(to top, rgba(0, 0, 0, .7) 30%, transparent 70%);

        @media (min-width: $breakpoint-medium) {
            height: 13rem;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        visibility: hidden;

        &.first {
            visibility: visible;
        }

        &.show {
            visibility: visible;
        }
    }
}

