.locate, 
.select, 
.signup, 
.get {
    width: 60%;
    margin-bottom: 4.5rem;

    @media (min-width: $breakpoint-medium) {
        margin-bottom: 8rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        width: 20%;
    }

    &__icon {
        margin-bottom: 2rem;
        width: 6rem;

        @media (min-width: $breakpoint-medium) {
            width: 9rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            width: 7rem;
        }
    }

    &__title {
        color: $title-color;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-medium) {
            font-size: 3.5rem;
            margin-bottom: 2rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 2.2rem;
        }
    }

    &__paragraph {
        color: $paragraph-color;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2.5rem;

        @media (min-width: $breakpoint-medium) {
            font-size: 2.6rem;
            line-height: 4.7rem;
        }

        @media (min-width: $breakpoint-large) {
            font-size: 2.3rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
}

.get__icon {
    width: 9rem;
    
    @media (min-width: $breakpoint-medium) {
        width: 13rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        width: 11rem;
    }
}

