.form {
    margin-top: 4rem;      

    &__submit {
        margin-top: 4rem;
        border: none;

        @media (min-width: $breakpoint-medium) {
            margin-top: 6rem;
            height: 6rem;
            font-size: 2rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            height: 4.5rem;
            font-size: 1.6rem;
            width: 35%;
        }
    }
}

#form__surname-input,
#form__name-input {
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid $placeholder-color;

    @media (min-width: $breakpoint-medium) {
        height: 8rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        height: 4rem;
    }

    &::placeholder {
        color: $placeholder-color;
        font-size: 1.5rem;

        @media (min-width: $breakpoint-medium) {
            font-size: 2.5rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 1.5rem;
        }
    }

    &:focus {
       outline: none;
    }
}

