.map {
    height: 50rem;
    width: 100%;

    @media (min-width: $breakpoint-xlarge) {
        height: 65rem;
        width: 55%;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }
}
