.reservation {
    width: 85%;
    margin-top: 5rem;
    margin-bottom: 5rem;

    @media (min-width: $breakpoint-medium) {
        margin-top: 9rem;
        margin-bottom: 9rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        width: 30%;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
    }

    &__title {
        color: $title-color;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 3rem;

        @media (min-width: $breakpoint-medium) {
            font-size: 4rem;
            margin-bottom: 5rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 3rem;
            margin-top: 2rem;
        }
    }

    &__illustrations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &-number {
            color: $paragraph-color;
            font-weight: 700;
            font-size: 3rem;

            @media (min-width: $breakpoint-medium) {
                font-size: 4rem;
            }
        }
    }

    &__address {
        color: $paragraph-color;
        font-weight: 700;
        font-size: 2.1rem;
        margin-top: 3rem;

        @media (min-width: $breakpoint-medium) {
            margin-top: 4rem;
            font-size: 2.8rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 2rem;
        }
    }
}