.section-concept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6rem;

    @media (min-width: $breakpoint-medium) {
        margin-top: 10rem;
    }

    @media (min-width: $breakpoint-large) {
        margin-top: 8rem;
    }

    @media (min-width: $breakpoint-xlarge) {
        flex-direction: row;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12rem;
    }
}

.section-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 6rem;

    @media (min-width: $breakpoint-xlarge) {
        flex-direction: row;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        align-items: unset;
        margin-top: 13rem;
    }
}

.section-reservation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $breakpoint-xlarge) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.section-newsletter {
    background-color: rgba(86, 204, 206, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

