.bg-video {
    @include position-absolute;
    @include full-percentages;
    z-index: -1;
    opacity: .9;
    overflow: hidden;

    &__content {
        @include full-percentages;
        object-fit: cover;

        @media (min-width: $breakpoint-medium) {
            height: 120%;
        }
    }
}