#popin__overlay {
    @include position-absolute;
    @include full-percentages;
    display: none;
    background-color: none;
    z-Index: -40;
}

.popin {
    @include flex-column;
    background-color: $logo-color;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    @media (min-width: $breakpoint-medium) {
       width: 70%;
    }

    @media (min-width: $breakpoint-large) {
        width: 50%;
    }

    @media (min-width: $breakpoint-xlarge) {
        width: 40%;
    }

    &__text {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;

        &-title {
            color: $title-color;
            font-size: 2.6rem;
            margin-bottom: 2rem;
        }

        @media (min-width: $breakpoint-medium) {
            font-size: 5rem;
        }

        @media (min-width: $breakpoint-large) {
            font-size: 4rem;
        }

        @media (min-width: $breakpoint-xlarge) {
            font-size: 3rem;
        }

        &-paragraph {
            color: $paragraph-color;
            font-size: 1.3rem;
            line-height: 2.5rem;

            @media (min-width: $breakpoint-medium) {
                font-size: 2rem;
                line-height: 3.7rem;
            }
    
            @media (min-width: $breakpoint-large) {
                font-size: 1.8rem;
                line-height: 3rem;
            }
    
            @media (min-width: $breakpoint-xlarge) {
                font-size: 1.5rem;
                line-height: 3rem;
            }
        }
    }
}

#popin {
    display: none;
    z-index: 1000;

    &__validation {
        @include flex-row;
        background-color: $placeholder-color;
        color: $logo-color;
        justify-content: center;
        align-items: center;
        height: 3.9rem;
        width: 35%;
        font-size: 1.3rem;
        text-decoration: none;
        border-radius: 5rem;
        cursor: pointer;
        letter-spacing: .08rem;
        border: none;
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        @media (min-width: $breakpoint-medium) {
            width: 30%;
        }
    
        @media (min-width: $breakpoint-xlarge) {
            width: 20%;
        }
    }
}

#canvas {
    background: $canvas;
    border-radius: 4rem;
}

